/* 
    Document   : application
    Created on : Sep 25, 2011, 2:44:03 PM
    Author     : nouman
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

