<div id="wrapper">
  <br />
  <div class="column" style="width:130px;">
    <label class="label" style="color: white;">Search</label>
  </div>  
  <section id="deviseauth">
    <div id="local" class="box">
      <form action="/search">
        <input name="q" class="text" />
        <input type="submit" value="Search" name="event" />
      </form>
    </div>
  </section>
</div>