<div id="wrapper">
  <div class="left">
    <div class="img"><img src="images/help.png" width="130" height="28" alt=""></div>
    <div class="left_menu">
      <p><a href="#">Just getting started?
          <img src="images/arrow.png" width="8" height="18" alt=""></a></p></div>
    <div class="left_menu">
      <p><a href="#">Frequently asked questions</a><img src="images/arrow.png" width="8" height="18" alt=""></p>
    </div>
    <div class="left_menu">
      <p><a href="#">Contact Customer Support</a><img src="images/arrow.png" width="8" height="18" alt=""></p>
    </div>
    <div class="left_menu">
      <p><a href="#">About Event Champion</a><img src="images/arrow.png" width="8" height="18" alt=""></p>
    </div>
  </div>
  <div class="middle">
    <div class="help_search">
      <div class="help_search1">
        <form action="/search">
          <input type="submit" name="submit" value="" class="help_btn" />
          <input name="q" type="text" class="help_box"/>
        </form>
        
      </div>
    </div>

    <div class="clear"></div>
    <div class="img"><img src="images/select.png" width="238" height="35" alt=""></div><div class="help_body"><table width="471" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="244"><h1>Going to an Event</h1><p>Description</p></td>
          <td width="227"><h1>Day of Event</h1><p>Description</p></td>
        </tr>
        <tr>
          <td colspan="2"><div class="border"></div></td>
        </tr>
        <tr>
          <td><h1>Creating an Event</h1>      <p>Description</p></td>
          <td><h1>Reporting and tracking</h1>      <p>Description</p></td>
        </tr>
        <tr>
          <td colspan="2"><div class="border"></div></td>
        </tr>
        <tr>
          <td><h1>Payments and Fees</h1>      <p>Description</p></td>
          <td><h1>Your Account</h1>      <p>Description</p></td>
        </tr>
        <tr>
          <td colspan="2"><div class="border"></div></td>
        </tr>
        <tr>
          <td><h1>Promoting Event</h1>      <p>Description</p></td>
          <td><h1>Managing attendees</h1>      <p>Description</p></td>
        </tr>
      </table>
    </div><div class="clear"></div>
  </div><div class="right"><div class="right_box"><p>EVENT SPONSORS</p>   </div><div class="right_box"><p>EVENT SPONSORS</p>   </div></div>
</div>