<div id="wrapper">
  <div id="flash"> <div class="slider">
      <div class="slide_show"><img src="images/slider.jpg" width="482" height="278" alt=""></div>
      <div class="slider_text"><img src="images/text.png" width="291" height="78" alt="">
        <div class="clear"></div>
        <p>EventChampion helps you empower your ways to manage, promote and sell out your even in a more simpleyet effective way. sign up for free
          and get started</p>
        <div class="clear"></div>
        <input type="submit" value="" name="read" class="read" >
      </div>
    </div></div>
  <div class="clear"></div>
  <div class="b_box">
    <div class="popular"><h1><img src="images/popular.png" width="160" height="21" alt=""></h1><table width="255" border="0" align="left" cellpadding="0" cellspacing="0">

        <tr>
          <td width="198" height="20"><span>Lorem ipsum dolor sit amet</span></td>
          <td width="57" height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Ut wisi enim ad minim veniam</td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Eodem modo typi</td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Investigationes demonstraverunt <br></td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Lorem ipsum dolor sit amet</td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Ut wisi enim ad minim veniam</td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Eodem modo typi<br></td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Investigationes demonstraverunt </td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Claritas est etiam processus </td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
        <tr>
          <td height="20">Lorem ipsum dolor sit amet</td>
          <td height="20" align="center">SEPT 16</td>
        </tr>
      </table></div>
    <div class="popular"><h1><img src="images/happening.png" width="217" height="21" alt=""></h1><table width="255" border="0" align="left" cellpadding="0" cellspacing="0">

        <tr>
          <td width="75" height="100" valign="middle"><img src="images/create.jpg" width="69" height="69" alt=""></td>
          <td width="155" valign="top"><span>consectetuer adipiscing elit, sed diam  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</span></td>
        </tr>
        <tr>
          <td valign="middle"><img src="images/create.jpg" width="69" height="69" alt=""></td>
          <td width="155" valign="top"><span>consectetuer adipiscing elit, sed diam  nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</span></td>
        </tr>
      </table></div>
    <div class="popular"><p>Claritas est etiam processus dynamicusqui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
      <div class="img">   <img src="images/create_event.png" width="184" height="45" alt=""></div></div></div>
  <div class="clear"></div>
  <div class="b_box"><img src="images/event.png" width="275" height="30" alt=""><div class="clear"></div>
    <div class="blog" ><img src="images/blog.jpg" width="252" height="109" alt=""><p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div>
    <div class="blog" ><img src="images/blog.jpg" alt="" width="252" height="109">
      <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div>
    <div class="blog" ><img src="images/blog.jpg" width="252" height="109" alt=""><p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div>
  </div>
</div>